.env

*.txt
log_*.txt
automacao.log

*.xlsx
*.xlsm
*.xls
log_processados.xlsx
Base_TESTE.xlsm
Base Restituições Vinícius.xlsm
historico_processamento.xlsx
Custo_Restituicao.xlsx
remocao-restituicao.xlsx
verificar_banco.py

*.pbix

*.pdf

__pycache__/
*.pyc

.venv/
venv/